body {
  font-family: var(--ff-body);
  color: var(--neutral-400);
}

h1 {
  font-weight: var(--fw-900);
  font-size: clamp(var(--fs-600), calc(8vw + 0.5rem), var(--fs-900));
  font-family: var(--ff-accent);
  line-height: 0.92;
  text-transform: uppercase;
  color: var(--neutral-900);

  .hero__card & {
    @media (min-width: $bp-large) {
      color: var(--neutral-100);
      mix-blend-mode: difference;
    }
  }

  .location-block & {
    font-size: clamp(var(--fs-550), 2.5568rem + 2.4242vw, var(--fs-700));
    color: var(--neutral-100);
  }
}

h2 {
  font-weight: var(--fw-900);
  font-size: clamp(var(--fs-550), 2.0139rem + 2.3148vw, var(--fs-600));
  font-family: var(--ff-accent);
  line-height: 0.9;
  text-transform: uppercase;
  color: var(--neutral-900);

  @media (min-width: $bp-large) {
    line-height: 1;
  }
}

p {
  font-size: clamp(var(--fs-100), 0.6806rem + 0.9259vw, var(--fs-400));
  line-height: 1.56;

  footer & {
    font-size: var(--fs-50);

    @media (min-width: $bp-medium) {
      max-width: 38%;
      margin-right: auto;
    }
  }
}

.location__subtitle {
  display: block;
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  line-height: 1;
  margin-bottom: 1.5rem;
  color: var(--primary-400);
  text-transform: uppercase;
}

.btn {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  font-weight: var(--fw-800);
  font-size: var(--fs-btn);
  font-family: var(--ff-accent);
  line-height: var(--lh-btn);
  letter-spacing: var(--ls-btn);
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;

  background-color: var(--neutral-900);
  color: var(--neutral-100);

  // because of grid stretch
  justify-self: start;

  & > span {
    position: relative;
    z-index: 1;
    padding: 1.5rem 2rem;
  }

  // mask for hover effect
  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    inset: 0;
    width: 100%;
    transition: 0.75s cubic-bezier(0.8, 0.44, 0.33, 0.84);
  }

  &::after {
    position: relative;
    z-index: 1;
    content: '';
    width: var(--btn-arrow);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: var(--primary-100);
  }

  &__prev {
    background-image: linear-gradient(
      90deg,
      var(--primary-400) 56px,
      var(--neutral-900) 56px
    );
    flex-direction: row-reverse;
    &::before {
      background-image: linear-gradient(
        90deg,
        var(--neutral-900) 56px,
        var(--primary-400) 56px
      );
      transform: translateX(calc(-100% + #{var(--btn-arrow)}));
    }
    &::after {
      background-image: url(/icon-arrow-left.svg);
    }
  }

  &__next {
    background-image: linear-gradient(
      -90deg,
      var(--primary-400) 56px,
      var(--neutral-900) 56px
    );
    &::before {
      background-image: linear-gradient(
        -90deg,
        var(--neutral-900) 56px,
        var(--primary-400) 56px
      );
      transform: translateX(calc(100% - #{var(--btn-arrow)}));
    }
    &::after {
      background-image: url(/icon-arrow-right.svg);
    }
  }

  @media (hover: hover) {
    &:hover {
      &::before {
        transform: translateX(0);
      }
    }
  }
}

.socials {
  display: flex;
  column-gap: 1.25rem;
  margin: 0;
  padding-left: 0;
  list-style: none;
  font-size: 1.25rem;

  a {
    color: inherit;
  }

  .icon {
    display: block;
  }
}

.icon-logo {
  flex-shrink: 0;
  font-size: 2.5rem;

  @media (min-width: $bp-large) {
    font-size: 3.625rem;
  }
}
