---
import Layout from '../layouts/Layout.astro';
import Map from '../components/Map.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <div class="location__hero">
    <Map />
    <div class="location__wrapper">
      <a class="btn btn__prev" href="/"><span>Back to Home</span></a>
    </div>
  </div>

  <section class="location-block" data-bg="dark">
    <div class="location-container">
      <h1>Our location</h1>
      <div class="location__content">
        <p>
          <span class="location__subtitle">99 King Street</span>
          Newport<br />
          RI 02840<br />
          United States of America
        </p>

        <p>
          Our newly opened gallery is located near the Edward King House on 99
          King Street, the Modern Art Gallery is free to all visitors and open
          seven days a week from 8am to 9pm.
        </p>
      </div>
    </div>
  </section>

  <Footer alternate={true} />
</Layout>
